@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: $grey;
  opacity: 1;
}

// landing

#landing {
  min-height: 50em;
  margin-left: 0;
  margin-right: 0;

  #message-container {
    padding: 0 1em;
  }

  article[class*="transformed"] {
    max-width: 30em;
    z-index: 99;
  }
  
  .transformed-1 {
    @media (min-width: $md) {
      transform: translate(140px,20px);
    }
  }
  
  .transformed-2 {
    @media (min-width: $md) {
      transform: translate(50px, 30px);
    }
  }
  
  .transformed-3 {
    @media (min-width: $md) {
      transform: translate(160px, 10px);
    }
  }
  
  .transformed-4 {
    @media (min-width: $md) {
      transform: translate(70px, 0px);
    }
  }
  
  .message {
    box-shadow: 0.5em 0.5em 1em 0.4em $blue-darker, 0 0 0 1px $blue-darker;
  }
}


.query-form {
  max-width: 1040px;;
}

// tags input
.rti--container {
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
  background-color: $white;
  margin-bottom: 1.5rem; // same margin of bulma inputs

  // --rti-border: $white;
  // --rti-main: $blue;
  --rti-radius: 10px;
  --rti-s: 0.5rem;
  --rti-tag: hsl(217, 71%, 53%);
  // --rti-tag-remove: white;

  // the tags
  .rti--tag span {
    padding-bottom: 2px;
  }
}

.rti--container .rti--input {
  width: 100%;
}