$sm: 450px;
$md: 700px;
$lg: 200px;
$xlg: 1400px;
$xxlg: 2000px;

$border-radius: 20px;

$white: hsl(0, 0%, 100%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 40%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$red: hsl(348, 100%, 61%);
$blue: hsl(204, 86%, 53%);
$blue-dark: hsl(217, 71%, 53%);